#messages {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 558px;    
}

#messages li {
    padding: 5px 10px;
    border-bottom: 1px solid #ECECEC;
}

#messages li span.name {
    font-weight: bold;
}